// Fuentes
$fuentePrincipal: 'Roboto', sans-serif;

// Media Queries
$telefono: 375px;
$tablet: 834px;
$desktop: 1200px;

// Colores
$colorPrincipal: #0d7ad9;
$colorSecundario: #13C9f2;
$degradado: linear-gradient(to right, #21AADC, #3379B8);
$degradadoSecundario: linear-gradient (to right #0FB2F2, #13C9F2);
$negro1: #333333;
$negro2: #666666;
$negro3: #999999;
$negro4: #f4f4f4;
$blanco: #ffffff;
$blancoTransparente: rgba(255,255,255, 0.95);